
/* 

Tipos de Selectores

1. Selectores Basicos

  -Selectores universales
  -Selectores de Tipo

2. Selectores de Clase

  Seleccionan los elementos que tienen una clase eespecifica.

  Se usa la ´notacion´ de (.) antes del nombre de la clase
  
  nombreClase {
    propiedad: valor;
  ]

3. Selectores de ID

  Seleccionan un elemento unico con un identificador especifico.

  SE usa la notacion de numeral (#) antes del nombre del ID 

  nombreId {
    propiedad: volor;
  }

4. Selectores Combinados

  -Descendientes

    Seleccionan elementos dentro de otros elementos.

    elemento elementointerno {
      propiedad: valor;
    }

  -Hijo directo
  -Elemento Adjacente
  -Hermano general

5. Selectores de Atributos

  -Atributo
  -Atributo Valor

6. Selectores Avamnzados

  -Pseudo-clases
  -Pseudo-elementos
  
  
  */

  /* 
  
  Selectores Basicos
  
  */

  /* 
  Universal -> Seleccionar todos los elemntos de un documento */

  *{
   /* border: 2px solid red; */ 
    /* Resset Basico */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Selectores de Tipo -> SEleccionan un tipo de elemento en html */

  body {
    background-color: rgb(241, 233, 166);
  }

  h1 {
    color: crimson;
  }
  
  p {
    font-size: 24px;
  }

  header {
    background-color: rgb(239, 221, 101);
  }

  /* Selectore de CLase (se utiliza . solo en css) */

  .content {
    background-color: crimson;
    padding: 48px;
  }

  .hero {
    background-color: rgb(223, 75, 55);
    padding: 24px;
  }

  .hero-title {
    background-color: darkmagenta;
    color: whitesmoke;
    padding: 16px;
    text-align: center;
  }

  /* Selector de Id  */

  #about-title {
    color: yellowgreen;
    font-size: 72px;
    text-align: center;
  }

  /* Combinado - Elementos Descenedientes */

  aside section {
    background-color: green;
    padding: 48px;
  }

  .aside-section h3 {
    color: whitesmoke;
    text-align: right;
    padding: 24px;
    background-color: orangered;
  }